@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('./Mont-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('./Mont-Semibold.ttf') format('ttf');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  src: local(''),
  url('./Mont-Bold.ttf') format('ttf');
}
