.cart {
  grid-column: span 4;
  @include grid;
  row-gap: 32px;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop1200 {
    grid-column: span 24;
    row-gap: 0;
  }

  &__products {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      grid-column: span 12;
    }

    @include onDesktop1200 {
      grid-column: 1/17;
    }
  }
}
