.grid__container {
  justify-content: center;

  grid-column: 1 / -1;

  --count-columns: 1;

  display: grid;
  gap: 40px 16px;
  padding: 40px 0;

  grid-template-columns: repeat(var(--count-columns), 1fr);

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 512px) {
    --count-columns: 2;
  }

  @media (min-width: 768px) {
    --count-columns: 3;
  }

  @media (min-width: 1024px) {
    --count-columns: 4;
  }
}

.phones {
  &__title {
    grid-column: 1 / -1;
  }
}
