.button {
  @include button-primary;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: $c-icons-mid-grey;

  cursor: pointer;

  @include hover(border-color, $c-primary-black);

  & > svg {
    fill: $c-primary-black;
  }

  &:disabled {
    cursor: default;

    border-color: $c-elements-light-grey;

    & > svg {
      fill: $c-icons-mid-grey;
    }
  }
}
