.button {
  @include button-primary;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  @include text-body;

  border-radius: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--c-button-border);
  background-color: var(--c-button-default-bg);

  cursor: pointer;

  transition-property: border-color, background-color;
  transition-duration: $effect-duration;

  &:hover {
    border-color: var(--c-button-hover-border);
    background-color: var(--c-button-hover-bg);
  }

  &--active {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
    color: var(--c-background);

    pointer-events: none;
  }

  &--disabled {
    pointer-events: none;
    background-color: transparent;
    border-color: var(--c-elements);

    & > svg {
      fill: var(--c-icons);;
    }
  }
}

.button-circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--c-button-border);
  background-color: var(--c-button-default-bg);

  cursor: pointer;

  transition-property: border-color, background-color;
  transition-duration: $effect-duration;

  &:hover {
    border-color: var(--c-button-hover-border);
    background-color: var(--c-button-hover-bg);
  }

  & > svg {
    fill: var(--c-primary);
  }

  &--disabled {
    pointer-events: none;
    background-color: transparent;
    border-color: var(--c-elements);

    & > svg {
      fill: var(--c-icons);;
    }
  }
}

.button-favourite {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--c-button-border);
  background-color: var(--c-button-default-bg);

  cursor: pointer;

  transition-property: border-color, background-color;
  transition-duration: $effect-duration;

  &:hover {
    border-color: var(--c-button-hover-border);
    background-color: var(--c-button-hover-bg);
  }

  & > svg {
    fill: var(--c-primary);
  }

  transition-property: border-color, transform, fill;
  transition-duration: $effect-duration;

  & > svg {
    fill: var(--c-primary);

    transition-property: transform, fill;
    transition-duration: $effect-duration;
  }

  &:active {
    transform: scale(1.1);

    & > svg {
      fill: var(--c-secondary-accent);
      transform: scale(1.2);
    }
  }

  &--active {
    border-color: var(--c-elements);

    & > svg {
      fill: var(--c-secondary-accent);
    }

    background-color: transparent;
  }
}

.button-radio {
  @include button-radio;

  &--gold {
    &::after {
      background-color: #fcdbc1;
    }
  }

  &--grey {
    &::after {
      background-color: #5f7170;
    }
  }

  &--brown {
    &::after {
      background-color: #4c4c4c;
    }
  }

  &--white {
    &::after {
      background-color: #f0f0f0;
    }
  }

  &--silver {
    &::after {
      background-color: #c0c0c0;
    }
  }

  &--blue {
    &::after {
      background-color: #2834d4;
    }
  }

  &--red {
    &::after {
      background-color: #d42828;
    }
  }

  &--spacegray {
    &::after {
      background-color: #343d46;
    }
  }

  &--rosegold {
    &::after {
      background-color: #b76e79;
    }
  }

  &--green {
    &::after {
      background-color: #32c246;
    }
  }

  &--skyblue {
    &::after {
      background-color: #87ceeb;
    }
  }

  &--yellow {
    &::after {
      background-color: #e6d732;
    }
  }

  &--coral {
    &::after {
      background-color: #ff7f50;
    }
  }

  &--black {
    &::after {
      background-color: #000000;
    }
  }

  &--purple {
    &::after {
      background-color: #a250ff;
    }
  }

  &--starlight {
    &::after {
      background-color: #f8f9ec;
    }
  }

  &--pink {
    &::after {
      background-color: #ffc0cb;
    }
  }

  &--spaceblack {
    &::after {
      background-color: #333334;
    }
  }
}

.button-rectangle {
  display: block;
  padding: 8px;

  @include text-body;
  color: var(--c-primary);

  border: 1px solid var(--c-icons);
  border-radius: 4px;

  @include hover(border-color, var(--c-primary));

  &:active {
    background-color: var(--c-primary);
    border-color: var(--c-background);
    color: var(--c-background);
  }

  cursor: pointer;
}

.selectedCapacity {
  background-color: var(--c-primary);
  border: none;
  color: var(--c-background);
}

.selectedColor {
  border-color: var(--c-primary);
  &:hover {
    border-color: var(--c-primary);
  }
}
