.button {
  @include button-primary;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  @include text-body;

  border-radius: 48px;
  border: 1px solid $c-elements-light-grey;

  cursor: pointer;

  @include hover(border-color, $c-primary-black);

  &--active {
    background-color: $c-primary-black;
    color: $c-white;
  }
}

.button-circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: $c-icons-mid-grey;

  cursor: pointer;

  @include hover(border-color, $c-primary-black);

  & > svg {
    fill: $c-primary-black;
  }

  &--disabled {
    cursor: none;
    pointer-events: none;

    border-color: $c-elements-light-grey;

    & > svg {
      fill: $c-icons-mid-grey;
    }
  }
}

.button-favourite {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 48px;
  border: 1px solid $c-icons-mid-grey;

  cursor: pointer;

  @include hover(border-color, $c-primary-black);

  transition: border-color, transform, fill, $effect-duration;

  & > svg {
    fill: $c-primary-black;

    transition: transform, $effect-duration;
  }

  &:active {
    transform: scale(1.1);

    & > svg {
      fill: $c-secondary-accent-yellow;
      transform: scale(1.2);
    }
  }

  &--active {
    border-color: $c-elements-light-grey;

    & > svg {
      fill: $c-secondary-accent-yellow;
    }
  }
}

.button-radio {
  @include button-radio;

  &--gold {
    &::after {
      background-color: #fcdbc1;
    }
  }

  &--grey {
    &::after {
      background-color: #5f7170;
    }
  }

  &--brown {
    &::after {
      background-color: #4c4c4c;
    }
  }

  &--white {
    &::after {
      background-color: #f0f0f0;
    }
  }
}

.button-rectangle {
  display: block;
  padding: 8px;

  @include text-body;
  color: $c-primary-black;

  border: 1px solid $c-icons-mid-grey;
  border-radius: 4px;

  @include hover(border-color, $c-primary-black);

  &:active {
    background-color: $c-primary-black;
    border: none;
    color: $c-white;
  }

  cursor: pointer;
}

.selectedCapacity {
  background-color: $c-primary-black;
  border: none;
  color: $c-white;
}

.selectedColor {
  border-color: $c-primary-black;
  &:hover {
    border-color: $c-primary-black;
  }
}
