@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  src: url("../../../public/fonts/Mont/Mont-Regular.ttf");
}
@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  src: url("../../../public/fonts/Mont/Mont-SemiBold.ttf");
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  src: url("../../../public/fonts/Mont/Mont-Bold.ttf");
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 900;
  src: url("../../../public/fonts/Mont/Mont-Heavy.ttf");
}
