@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop1200 {
  @media (min-width: $desktop-min-width--1200) {
    @content;
  }
}

@mixin onDesktop1440 {
  @media (min-width: $desktop-min-width--1440) {
    @content;
  }
}

@mixin paddingInline {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 24px;
  }

  @include onDesktop1200 {
    padding-inline: 32px;
  }

  @include onDesktop1440 {
    padding-inline: 152px;
  }
}

@mixin hover($property, $toVAlue) {
  transition: #{$property} $effect-duration;
  &:hover {
    #{$property}: #{$toVAlue};
  }
}

@mixin click($property, $toVAlue) {
  transition: #{$property} $effect-duration;
  &:visited {
    #{$property}: #{$toVAlue};
  }
}

@mixin h1 {
  font-size: $h1-mobile;
  font-weight: 800;
  line-height: $lh100;
  letter-spacing: -0.32px;

  @include onTablet() {
    font-size: $h1;
    line-height: $lh100;
    letter-spacing: -0.48px;
  }
}

@mixin h2 {
  font-size: $h2-mobile;
  font-weight: 800;
  line-height: $lh140;
  letter-spacing: -0.32px;

  @include onTablet() {
    font-size: $h2;
    line-height: $lh100;
    letter-spacing: -0.48px;
  }
}

@mixin h3 {
  font-size: $h3-mobile;
  font-weight: 800;
  line-height: $lh100;
  letter-spacing: -0.32px;

  @include onTablet() {
    font-size: $h3;
    line-height: $lh140;
    letter-spacing: -0.48px;
  }
}

@mixin h4 {
  font-size: $h4-mobile;
  font-weight: 800;
  line-height: $lh100;
  letter-spacing: -0.32px;

  @include onTablet() {
    font-size: $h4;
    line-height: $lh100;
    letter-spacing: -0.48px;
  }
}

@mixin text-body {
  font-size: $text-body;
  font-weight: 600;
  line-height: $lh-body;
}

@mixin text-small {
  font-size: $text-small;
  font-weight: 700;
  line-height: $lh-body;
}

@mixin text-button {
  font-size: $text-button;
  font-weight: 700;
  line-height: $lh-body;
}

@mixin text-uppercase {
  font-size: $text-uppercase;
  font-weight: 800;
  line-height: $lh100;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

@mixin text-link {
  font-family: "Mont";
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;

  color: $c-secondary-grey;

  &:active {
    color: $c-primary-black;
  }

  @include hover(color, $c-primary-black);
}

@mixin grid {
  --columns: 4;
  display: grid;
  justify-content: center;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 12;
  }

  @include onDesktop1200 {
    --columns: 24;

    grid-template-columns: repeat(var(--columns), 32px);
  }
}

@mixin button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  height: 40px;

  background-color: $c-accent-blue;
  border-radius: 48px;

  @include text-button;

  color: $c-white;

  @include hover(box-shadow, 0px 3px 13px 0px rgba(23, 32, 49, 0.4));

  transition: $effect-duration;

  &:active {
    transition: $effect-duration;
    background-color: $c-white;
    color: $c-accent-blue;
    border: 1px solid $c-elements-light-grey;
  }

  &--active {
    transition: $effect-duration;
    background-color: $c-white;
    color: $c-accent-blue;
    border: 1px solid $c-elements-light-grey;
  }

  cursor: pointer;
}

@mixin button-radio {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 48px;
  border: 1px solid $c-elements-light-grey;

  &::after {
    content: "";
    display: block;
    height: 26px;
    width: 26px;

    border-radius: 48px;
  }

  cursor: pointer;

  @include hover(border-color, $c-icons-mid-grey);

  &:active {
    border-color: $c-primary-black;
  }
}
