* {
  font-family: "Mont";
  box-sizing: border-box;
  color: $c-primary-black;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

input {
  appearance: none;
}
