// #device width
$tablet-min-width: 640px;
$desktop-min-width--1200: 1200px;
$desktop-min-width--1440: 1440px;

//  #colors
$c-accent-blue: #4219D0;
$c-secondary-accent-yellow: #F4BA47;
$c-red: #EB5757;
$c-green: #27AE60;
$c-primary-black: #0F0F11;
$c-secondary-grey: #89939A;
$c-icons-mid-grey: #B4BDC3;
$c-elements-light-grey: #E2E6E9;
$c-background: #FAFBFC;
$c-white: #FFFFFF;

// font-sizes
$h1-mobile: 32px;
$h2-mobile: 22px;
$h3-mobile: 20px;
$h4-mobile: 16px;

$h1: 48px;
$h2: 32px;
$h3: 22px;
$h4: 20px;

$text-body: 14px;
$text-small: 12px;
$text-button: 14px;
$text-uppercase: 12px;

$lh140: 140%;
$lh100: 100%;
$lh-body: 150%;

$effect-duration: 0.3s;
