$header-height: 48px;
$header-height-desktop: 60px;
$header-gap: 16px;
$header-gap-desktop: 24px;

.header {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px var(--c-elements);

  background-color: var(--c-background);

  &__bar {
    display: flex;
    height: $header-height;

    align-items: center;
    gap: $header-gap;

    box-sizing: border-box;
    box-shadow: 0px 1px 0px 0px var(--c-elements);

    @include onDesktop1200 {
      height: $header-height-desktop;
      gap: $header-gap-desktop;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__logo {
    display: flex;
    height: $header-height;
    justify-content: center;
    align-items: center;
    padding-inline: $header-gap;
    text-decoration: none;

    @include onDesktop1200 {
      padding-inline: $header-gap-desktop;
      height: $header-height-desktop;
    }

    & > * {
      font-size: 12px;

      @include onDesktop1200 {
        font-size: 14px;
      }
    }
  }

  &__link {
    box-sizing: border-box;
    height: $header-height;
    line-height: $header-height;

    border-bottom-color: transparent;
    border-bottom-style: solid;

    transition-property: border-bottom-color, color;
    transition-duration: $effect-duration;

    @include onDesktop1200 {
      height: $header-height-desktop;
      line-height: $header-height-desktop;
    }

    &--active {
      color: var(--c-primary);

      border-bottom-color: var(--c-primary);
    }
  }
}
