$header-height: 48px;
$header-height-desktop: 60px;
$header-gap: 16px;
$header-gap-desktop: 24px;

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $c-white;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #E2E6E9;

  &__bar {
    display: flex;
    height: $header-height;

    align-items: center;
    gap: $header-gap;

    box-sizing: border-box;
    box-shadow: 0px 1px 0px 0px #E2E6E9;

    @include onDesktop1200 {
      height: $header-height-desktop;
      gap: $header-gap-desktop;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__logo {
    display: flex;
    height: $header-height;
    justify-content: center;
    align-items: center;
    padding-inline: $header-gap;
    text-decoration: none;

    @include onDesktop1200 {
      padding-inline: $header-gap-desktop;
      height: $header-height-desktop;
    }

    & > * {
      font-size: 12px;

      @include onDesktop1200 {
        font-size: 14px;
      }
    }
  }

  &__link {
    box-sizing: border-box;
    text-decoration: none;
    height: $header-height;

    font-family: 'Mont';
    font-size: 12px;
    font-weight: 800;
    line-height: $header-height;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;

    @include onDesktop1200 {
      height: $header-height-desktop;
      line-height: $header-height-desktop;
    }

    color: $c-secondary-grey;

    &:active {
      color: $c-primary-black;
    }

    &:hover {
      color: $c-primary-black;
    }

    &--active {
      color: $c-primary-black;

      border-bottom: 2px solid $c-primary-black
    }
  }
}
