.navmenu {
  position: fixed;
  top: $header-height;
  width: 100%;

  z-index: 5;

  display: flex;
  flex-direction: column;
  height: calc(100% - $header-height);

  @include onDesktop1200 {
    top: $header-height-desktop;
    height: calc(100% - $header-height-desktop);
  }

  background-color: var(--c-background);
  opacity: 0;
  transform: translateY(-100%);

  transition-property: opacity, transform;
  transition-duration: $effect-duration;

  &--open {
    opacity: 1;
    transform: translateY(0%);

    pointer-events: default;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;

    padding-top: 24px;

    & > * {
      height: 27px;
      line-height: 27px;
      border-bottom-width: 2px;
    }
  }

  &__bottom {
    display: flex;
    height: 64px;

    box-shadow: 0px -1px 0px 0px var(--c-elements);

    & > * {
      flex-grow: 1;
      height: 64px;
      border-bottom-width: 2px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 64px;
    line-height: 64px;

    box-shadow: -1px 0px 0px 0px var(--c-elements);

    transition-property: background-color;
    transition-duration: $effect-duration;

    &:hover {
      background-color: var(--c-hover);
    }

    & > * {
      fill: var(--c-primary);
    }
  }

  &__text-amount-of-products {
    position: absolute;
    top: 18px;
    right: calc(50% - 16px);

    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    border-width: 2px;
    border-style: solid;
    border-color: var(--c-background);

    font-size: 9px;
    font-weight: 700;
    color: var(--c-products-counter);

    border-radius: 48px;
    background-color: var(--c-products-counter-bg);
  }
}
