.navmenu {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $header-height);

  @include onDesktop1200 {
    height: calc(100vh - $header-height-desktop);
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;

    padding-top: 24px;

    & > * {
      height: 27px;
      line-height: 27px;
    }
  }

  &-bottom {
    display: flex;
    height: 64px;

    box-shadow: 0px -1px 0px 0px #E2E6E9;

    & > * {
      flex-grow: 1;

      height: 64px;
    }
  }

  &-button {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    line-height: 64px;

    box-shadow: -1px 0px 0px 0px #E2E6E9;

    &--favorites {
      background-image: url("../../../../public/images/icons/favorite.svg");
    }

    &--cart {
      background-image: url("../../../../public/images/icons/cart.svg");
    }
  }
}
