.navmenu {
  position: fixed;
  top: $header-height;
  width: 100%;

  z-index: 5;

  display: flex;
  flex-direction: column;
  height: calc(100% - $header-height);

  @include onDesktop1200 {
    top: $header-height-desktop;
    height: calc(100% - $header-height-desktop);
  }

  background-color: $c-white;
  opacity: 0;
  transform: translateY(-100%);

  transition: opacity, transform, $effect-duration;

  &--open {
    opacity: 1;
    transform: translateY(0%);

    pointer-events: default;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;

    padding-top: 24px;

    & > * {
      height: 27px;
      line-height: 27px;
      border-bottom-width: 2px;
    }
  }

  &__bottom {
    display: flex;
    height: 64px;

    box-shadow: 0px -1px 0px 0px $c-elements-light-grey;

    & > * {
      flex-grow: 1;
      height: 64px;
      border-bottom-width: 2px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    line-height: 64px;

    box-shadow: -1px 0px 0px 0px $c-elements-light-grey;

    z-index: -1;

    @include hover(background-color, #00000005);

    & > * {
      fill: $c-primary-black;
    }
  }

  &__text-amount-of-products {
    position: absolute;
    top: 20px;
    right: 42%;

    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12px;
    height: 12px;

    font-size: 7px;
    font-weight: 700;
    color: $c-white;

    border-radius: 48px;
    background-color: $c-accent-blue;
  }
}
