.dropdown {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 4px;

  width:  100%;

  @include onTablet{
    width: auto;
  }

  &:first-child {
    min-width: 148px;

    @include onTablet {
      min-width: 187px;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;

    color: var(--c-secondary);
  }

  &__field {
    display: flex;

    background-color: var(--c-surface-2);

    align-items: center;
    justify-content: space-between;

    height: 40px;
    padding-inline: 12px;

    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-elements);

    @include hover(border-color, var(--c-secondary));

    cursor: pointer;

    &:focus {
      border-color: var(--c-dropdown-focus);
    };
  }

  &__value {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
  }

  &__icon {
    width: 16px;
    height: 16px;

    & > svg {
      fill: var(--c-primary);
    }
  }

  &__menu {
    position: absolute;

    z-index: 3;

    top: calc(100% + 4px);

    width: 100%;

    list-style: none;
    pointer-events: none;

    background-color: var(--c-background);
    box-shadow: 0px 2px 15px 0px #0000000D;

    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-elements);

    opacity: 0;

    transform: translateY(-4px);

    transition-property: transform, opacity;
    transition-duration: $effect-duration;
    transition-timing-function: ease-in;

    &--open {
      pointer-events: all;

      transform: translateY(0%);

      opacity: 1;
    }

    &-item {
      height: 32px;
      line-height: 32px;
      padding-inline: 12px;

      color: var(--c-secondary);;

      cursor: pointer;

      transition-property: background-color, color;
      transition-duration: $effect-duration;

      &:hover {
        background-color: var(--c-dropdown-item-hover);
        color: var(--c-primary);
      }

      &--active {
        background-color: var(--c-hover);
        color: var(--c-icons);

        pointer-events: none;

        cursor: default;
      }
    }
  }
}
