@import './styles/utils/vars.scss';
@import './styles/Fonts/Mont/fonts.scss';
@import './styles/utils/reset.scss';
@import './styles/utils/mixins.scss';
@import './styles/ui/text/text.scss';
@import './styles/ui/button/button.scss';

@import './styles/blocks/NotFoundPage.scss';

@import './components/Logo/Logo.scss';
@import './components/Header/Header.scss';
@import './components/Header/Navbar/Navbar.scss';
@import './components/Header/Navmenu/Navmenu.scss';
@import './components/Footer/Footer.scss';

.App {
  height: 100vh;
  background-color: $c-background;

  &__page {
    max-height: 100vh;
    overflow-y: auto;

    &-content {
      min-height: 100vh;
      padding-top: calc($header-height + 24px);
      padding-bottom: 64px;

      @include onDesktop1200 {
        padding-top: calc($header-height-desktop + 24px);
        padding-bottom: 80px;
      }

      @include paddingInline;
      @include grid;
    }
  }
}
