@import './styles/utils/reset.scss';
@import './styles/Fonts/Mont/fonts.scss';
@import './styles/utils/vars.scss';
@import './styles/utils/mixins.scss';
@import './styles/ui/button/Button.scss';
@import './styles/ui/text/text.scss';
@import './styles/blocks/NotFoundPage.scss';


@import './components/Logo/Logo.scss';
@import './components/Header/Header.scss';
@import './components/Header/Navbar/Navbar.scss';
@import './components/Header/Navmenu/Navmenu.scss';

* {
  font-family: 'Mont';
  box-sizing: border-box;
  color: $c-primary-black;
}

.main-container {
  @include paddingInline;
  @include grid;
}

.App {
  background-color: $c-background;

  &-page {
    padding-top: $header-height;

    @include onDesktop1200 {
      padding-top: $header-height-desktop;
    }

    height: 100vh;
  }
}
