@import './styles/utils//vars.scss';
@import './styles/utils//mixins.scss';
@import './styles/utils/reset.scss';
@import './styles/ui/button/Button.scss';
@import './styles/ui/text/text.scss';
@import './styles/blocks/NotFoundPage.scss';

* {
  font-family: 'Mont';
}

.main-container {
  @include paddingInline;
  @include grid;
}

.App {
  text-align: center;

  &-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
