.notFound {
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;

  @include onTablet {
    grid-column: 3/11;
    gap: 36px;
  }

  @include onDesktop1200 {
    grid-column: 9/17;
    gap: 36px;
  }

  &__wrapper {
    @include grid;
    height: 100%;
    align-items: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__img {
    display: block;
    object-fit: contain;
    width: 100%;
  }
}
